<html>
    <head> 
        <title>Payment Checkout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="success-payment">
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h2 class="text-success">Success</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p class="font-weight-bold font">Thank you! Your payment was successful!</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </body>
</html> 